<div class="container-fluid">
  <div class="row pt-3">
    <div class="col">
      <span class="page-title mr-5">YOUR REPRESENTATIVES FOR {{ shortLocation | uppercase }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col rep-wrapper" *ngIf="representatives | async as reps; else spinner">
      <div class="rep-card" *ngFor="let rep of reps | filter: filterObj" (click)="openRepDetail(rep)">
        <div class="rep-card-profile">
          <img class="rep-card-img" [src]="rep.photoUrl || 'assets/blank_profile.jpg'">
        </div>
        <span class="rep-card-name">{{ rep?.name | uppercase }}</span>
        <span class="rep-card-title">{{ rep?.party | uppercase }}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="col">
    <app-spinner></app-spinner>
  </div>
</ng-template>
