<div class="container-fluid h-100">
  <div class="row pt-5">
    <div class="col">
      <span class="page-title">DASHBOARD</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="content-row content-center">
        <div class="content-card">
          <div class="content-title">
            REPRESENTATIVES
          </div>
        </div>
        <div class="content-card">
          <div class="content-title">
            NEWS
          </div>
        </div>
      </div>
      <div class="content-row content-center">
        <div class="content-card">
          <div class="content-title">
            SUGGESTED EVENTS
          </div>
          <div class="event-row">
            <div class="event-card">
              <div class="event-header">
                <span class="event-title"><a [href]="eventURI">TEST</a></span>
                <span class="event-date">1/14</span>
              </div>
              <div class="event-img">

              </div>
              <div class="event-description">
                Lorem ipsum dolor sit amet.
              </div>
            </div>
            <div class="event-card">
              <div class="event-header">
                <span class="event-title">TEST</span>
                <span class="event-date">1/15</span>
              </div>
              <div class="event-description">
                Lorem ipsum dolor sit amet.
              </div>
            </div>
            <div class="event-card">
              <div class="event-header">
                <span class="event-title">TEST</span>
                <span class="event-date">1/16</span>
              </div>
              <div class="event-description">
                Lorem ipsum dolor sit amet.
              </div>
            </div>
            <div class="event-card">
              <div class="event-header">
                <span class="event-title">TEST</span>
                <span class="event-date">1/17</span>
              </div>
              <div class="event-description">
                Lorem ipsum dolor sit amet.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
