@import "../styles.scss";

.navbar {
  border-right: 2px solid $tertiary-color;
  min-width: 275px;
  max-width: 275px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.main {
  margin-left: 275px;
}

.user-profile {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  z-index: 2;
}

.user-profile img {
  width: 2.2rem;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
