@import '../../styles.scss';

nav {
  position: absolute;
  top: 0;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 1rem 0;
  color: grey;
}

li button.logout {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: $secondary-gradient;
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 60px;
}

a {
  transition: background 0.1s ease;
}

a {
  font-size: 0.8rem;
  font-weight: bolder;
  transition: transform 0.3s ease;
}

a.resource {
  font-weight: 600;
  color: $secondary-color !important;
}

a:hover {
  transform: translateX(10px);
}

.copyright {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
}

.nav-logo {
  max-width: 10rem;
}

.nav-title {
  font-weight: bold;
  color: $tertiary-color;
}

.collapsible-nav {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2rem;
}
