@import '../../styles.scss';

nav {
  position: absolute;
  top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 1rem 0;
}

a {
  transition: background 0.1s ease;
}

a {
  font-size: 0.8rem;
  font-weight: bolder;
  transition: transform 0.3s ease;
}

a:hover {
  transform: translateX(10px);
}

//
// .active {
//   background-color: $secondary-color !important;
//   color: white !important;
// }
//
// li a:hover {
//   background-color: darken($secondary-color, 5) !important;
//   color: white !important;
// }

.nav-logo {
  max-width: 10rem;
}

.collapsible-nav {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2rem;
}
