/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


$primary-color: white;
$secondary-color: #ED553B;
$tertiary-color: #068587;
$accent-color: #ED553B;

$primary-gradient: linear-gradient(to bottom right, $primary-color, darken($primary-color, 10));
$secondary-gradient: linear-gradient(to top right, $secondary-color, lighten($secondary-color, 10));
$tertiary-gradient: linear-gradient(to top right, $tertiary-color, lighten($tertiary-color, 10));
$accent-gradient: linear-gradient(to top right, $accent-color, lighten($accent-color, 2));

body {
  font-family: 'Raleway', sans-serif !important;
  background: $primary-gradient !important;
  min-height: 100vh;
  color: $secondary-color !important;
}

button {
  outline: none;
}

a {
  color: $tertiary-color;
}

a:hover {
  text-decoration: none;
}

.page-title {
  font-size: 1rem;
  font-weight: bold;
}

.mat-dialog-container {
  background: $tertiary-gradient;
}
